.headline {
    font-family: fantasy;
    font-size: 70px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;

}

.intro {
    font-family: serif;
    font-size: larger;

}


.mainbody {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    
}

.othernationshumans {
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 650px;
    border-spacing: 10px;
}

h2 {
    font-family: serif;
    font-size: x-large;
    background-color: white;
}

.KislevMain{
font-family: serif;
font-size: larger;
text-align: center;
margin-left: 200px;
margin-right: 200px;


}

.KislevH{
    font-family: fantasy;
    font-size: 55px;
}

.TileaMain{
    font-family: serif;
    font-size: larger;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    

}

.TileaH{
    font-family: fantasy;
    font-size: 55px;
}

.sidebyside{
    display: flex;
    align-items:start;
    
}

.sidebyside img{
    padding-right: 10px
}

.vampireh3{
    margin-left: 30px;
    font-size: 20px;
    background-color: white;
}
.vampirelist{
    font-size: 18px;
    font-weight: 700;
    background-color: white;
}

.racename{
    font-size: 30px;
    background-color: white;
}

p{
    font-size: 18px;
    font-weight: 700;
    color: black;
    background-color: white;
}