body {

    background-color: cyan;

}

#mindiv{
        padding: 50px;
}
/* Använder id elementet och detta är en kommentar i css */


table,
th,
td {
    border: 1px solid black;
    width: 400px;

}

/*här använder vi class istället till elementet*/

.hundar{

    width: 300px;

}

h4{
    font-style: italic;
    text-decoration: underline;
}


