.rubrik{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;

}

.links{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: left;
    border: 2px solid black;
    border-radius: 5px;
    
}
.main{
    display: grid;
    grid-template-columns: 17% 83%;
    border: 2px solid black;
    border-radius: 5px;
    
}

body{
    background-color: aquamarine;
}