body{
    background-color: aqua;
}

.Rubrik{
    margin-left: 28%;
    margin-top: 30px;
    
}

h1{
    font-size: 45px;
    font-style: italic;

}
h2{
    font-size: xx-large;
    font-style: italic;

}
p{
    font-style: italic;
}
.Länkar{
    border: 2px solid;
    padding: 10px;
    margin-right: 1235px;
    margin-left: 50px;
}
