body{
    background-color: aqua;
}

.grid-container{
display: grid;
grid-template-columns: auto auto auto;

}

.Rubrik{
    align-self: center;
    text-align: center;
    position: relative; 
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin-right: 365px;
    margin-left: 365px;
    border-color: gold;
    background-color: gold;
    
}

h1{
    font-size: 45px;
    font-style: italic;
    
}
h2{
    font-size: xx-large;
    font-style: italic;
   
}
h3{
   font-size: larger;
   font-style: italic;
  
}
p{
    font-style: italic;
}
.Länkar{
    text-align: center;
    border: 2px solid;
    padding: 10px;
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
}

.Länk-text{
    text-align: center;
}

.musik-länk{
    margin-right: 15px;
    margin-top: 10px;
text-align: center;
border: solid 2px;
border-radius: 10px;
padding: 10px;
}

.länk2{
margin-right: 15px;
text-align: center;
margin-top: 10px;

border: solid 2px;
border-radius: 10px;
padding: 10px;
}

.länk3{

text-align: center;
margin-top: 10px;

border: solid 2px;
border-radius: 10px;
padding: 10px;
}

.länkar{
display: flex;
justify-content: center;

}

.some-other-webb{
text-align: center;
font-size: large;
font-style: italic;
}