.grid-container{
display: grid;
grid-template-columns: auto auto auto;
background-color: aquamarine;

}

.grid-item{
    margin-top: 15px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    
}

body{
    background-color: aquamarine;
}