body {

    background-color: cyan;

}


table,
th,
td {
    border: 1px solid black;
    width: 400px;

}

.hundar{

    width: 300px;

}

h4{
    font-style: italic;
    text-decoration: underline;
}
